header {
	font-size: 12px;
	display: flex;
	justify-content: center;
	background: #008106;	
	color: white;
}

body {
	font-size: 16px;
	text-align: center;
}

h1 {
	padding-right: 20px;
	padding-left: 20px;
}

h2 {
	margin: 0px;
	padding: 10px;
	background: #eaea03;
}

footer {
	font-size: 10px;
	background: #eaea03;	
	padding-top: 20px;
    padding-bottom: 20px;
}

.estructura {
	display: block;
}

/*.estructura__item {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
*/
.img_escudo {
	border-radius: 50%;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	width: 100px;
	height: 100px;
	margin: 5px;
	border: 2px solid #F1F17C;
}

.menu_preescolar {
	display: -webkit-inline-box;
	margin: 0px;
}

.menu_preescolar .menu__item {
	background: #06b1a1;	
}

.menu_preescolar .menu__item a {
	background: #06b1a1;
}

.menu__item {
	background: #4756A0;
	border-radius: 10px;
	list-style: none;

	margin: 5px 2px;
	padding: 10px;
}

.menu__item a {
	text-decoration: none;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;	
	color: white;
}

.menu_primaria {
	display: -webkit-inline-box;
	margin: 0px;
}

.menu_primaria .menu__item {
	width: 110px;
}
.menu_secundaria {
	display: inline-block;
	margin: 0px;	
}
.menu_secundaria .menu__item {
	width: 150px;
}

